
 
$primaryColor:rgba(241, 122, 24, 0.911);
$secondaryColor:rgb(243, 241, 245) ;
$Home_bg:url("../img/home.jpg");

@mixin trans {
    transition: all 0.5s ease-in-out;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    width: 85%;
    margin: auto;
}
header{
    overflow: hidden;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
    .logo{
        @extend .w-f;
        color: #d8d3d3;
        
    }
    ul{
        @extend .w-f;
        display: flex;
        list-style: none;
        li{
            padding: 10px;
            a{
                text-decoration: none;
                color: #d8d3d3;
                font-weight: bold;
                text-transform: uppercase;
                @include trans;
                &:hover{
                    color: $primaryColor;
                }
            }
        }
    }
}

// extend classes
.w-f{
    width: 50%;
    float: left;
}
.h2{
    font-size: 2rem;
           color: #fcf9f7;
}
.span{
    display: block;
    margin: 1rem auto;
    width: 35px;
    height: 2px;
    background:$primaryColor;
}
.p{
    margin: 1.5rem 0;
    letter-spacing: 3px;  
    color: #dfd5d5;
}
.button{
    background: $primaryColor;
    border-radius: 15px;
    border: 0;
    color: #f8f5f5;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    @include trans;
    &:hover {
        background: #fcf9f7;
        color: $primaryColor;
    }
}
// sass home ssction 
.home{
    position: relative;
    background: $Home_bg;
    background-size: cover;
    height: 100vh;
    text-align: center;
    .home-content{
        position: absolute;
        left: 70%;
        top: 50%;
        transform: translate(-50%,-50%);
        h2 {
           @extend .h2
        }
        span {
           @extend .span
        }
        p {
            @extend .p
        }
        button {
            @extend .button
        }
    }
   
}
   
.needs {
    padding: 2rem 0;
    background: #121213;
    text-align: center;
    h2 {
        @extend .h2
    }
    span {
        @extend .span
    }
    p {
        @extend .p
    }
    button {
        @extend .button
    }
}
